button {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #333;
    cursor: pointer;
    font-size: 16px;
    margin: 10px;
    outline: none;
    padding: 10px 20px;
    transition: background-color 0.3s, border 0.3s, box-shadow 0.3s;
}

button.pressed {
    background-color: #f0f0f0;
    border: 1px solid #aaa;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}